# Node
node_modules
dist
build

# Vite
.vite

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Strapi
backend/backend/.cache
backend/backend/build
backend/backend/node_modules
